.index {
  background-color: var(--supplimental-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  font-family: var(--main-text-style);
  font-weight: var(--heavy-font-weight);
  padding: 15px;
}

.card {
  max-width: 450px;
}

.card-control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.card-control-buttons__jokes-button,
.card-control-buttons__trivia-button,
.card-control-buttons__whatever-button {
border-radius: 5px;
border: none;
font-family: var(--secondary-text-style);
font-weight: var(--heavy-font-weight);
background-color: var(--main-background-color);
color: var(--main-text-color);
text-transform: uppercase;
padding: 10px 15px
}
.card-control-buttons__button-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card-control-buttons__create-button:hover,
.card-control-buttons__jokes-button:hover,
.card-control-buttons__trivia-button:hover,
.card-control-buttons__whatever-button:hover {
  cursor: pointer;
}
.card_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__content__front,
.card__content__back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  font-size: var(--std-font-size);
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 3px var(--box-shadow-color);
  border: 1px solid var(--supplimental-background-color);
}
.specs_container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px
}

.card-control-buttons__jokes-button:hover,
.card-control-buttons__trivia-button:hover,
.card-control-buttons__whatever-button:hover {
  cursor: pointer;
  background-color: #5f2a3b;
}
  
.card-control-buttons__jokes-button:active,
.card-control-buttons__trivia-button:active,
.card-control-buttons__whatever-button:active {
  background-color: #003f7f;
}

.card__created_at {
  text-align: center;
}

.card__views {
  display: flex;
  gap: 10px;
}

.card__views span {
  display: flex;
  align-items: center;
}