.header {
  background-color: var(--main-background-color);
  height: var(--header-height);
  color: var(--secondary-background-color);
  font-family: var(--main-text-style);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_header {
  display: flex;
  flex-direction: row;
  margin: 25px;
  align-items: center;
}

.title-header__icon {
  height: 50px;
}

.login_button,
.set_home {
  border-radius: var(--main-button-border-radius);
  font-family: var(--secondary-text-style);
  font-weight: var(--heavy-font-weight);
  text-transform: uppercase;
  border: none;
  background-color: var(--supplimental-background-color);
  margin: 25px;
}
.login_button:hover,
.set_home:hover {
  cursor: pointer;
  background-color: #5f2a3b;
  color: azure;
}

.title_header:hover,
.button:hover {
  cursor: pointer;
  background-color: #5f2a3b;
  
}
.title_header:active,
.login_button:active,
.set_home:active {
  background-color: #003f7f;
}
