.likesDislikesButtons button {
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border: none;
  background-color: #c0e7d9;
}
.like:hover,
.dislike:hover {
  cursor: pointer;
  background-color: rgb(207, 250, 250);
}

.report:hover {
  cursor: pointer;
  background-color: rgb(207, 250, 250);
}

.report {
  height: 35px;
  width: 35px;
}

.reported {
    border-radius: 5px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border: none;
  background-color: #c0e7d9;
}
