.login {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.input-container {
  padding: 40px 30px;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  box-shadow: 3px 3px 3px var(--main-background-color);
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.login-title {
  margin: 0;
  text-align: center;
  font-size: var(--lg-font-size);
  font-family: "Roboto Mono";
}


#username,
#password {
  border-radius: 5px;
  font-family: var(--secondary-text-style);
  font-weight: var(--heavy-font-weight);
  outline: none;
  border: none;
  padding: 10px;
}

.input--error {
  background-color: rgba(255, 0, 0, 0.25);
}

.button-field {
  width: 100%;
}

.button {
  font-family: var(--secondary-text-style);
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--supplimental-background-color);
  font-weight: var(--heavy-font-weight);
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  background-color: #5f2a3b;
  color: azure;
}

.button:active {
  background-color: #003f7f;
}