:root {
  --main-background-color: #32161f;
  --box-shadow-color: rgba(0, 0, 0, 0.35);
  --secondary-background-color: #a8f9ff;
  --supplimental-background-color: #8db9a8;
  --main-text-color: #9ae5e6;
  --secondary-text-color: #9ae5e6;
  --inverted-main-text-color: #32161f;
  --main-text-style: "Roboto Mono";
  --secondary-text-style: "Raleway";
  --heavy-font-weight: 600;
  --lg-font-size: 40px;
  --std-font-size: 35px;
  --main-border-radius: 15px;
  --main-button-border-radius: 5px;
  --header-height: 50px;
  --footer-height: 50px;
}

* {
  box-sizing: border-box;
  transition: all ease-in-out 0.20s;
}

body {
  margin: 0;
  background-color: var(--supplimental-background-color);
}

textarea{
  font-family: var(--secondary-text-style);
}

hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.input-error {
  background-color: rgba(255, 147, 147, 0.5);
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.0s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}